name: FanCode Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"   # runs every 6 hours (optional)

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run scraper
        run: |
          python runner.py

      - name: Upload JSON artifact
        uses: actions/upload-artifact@v4
        with:
          name: fancode-output
          path: output.json
