name: FanCode Auto JSON Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"   # every 6 hours

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run scraper
        run: |
          python runner.py

      - name: Commit & push JSON
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add output.json
          git commit -m "Auto update FanCode JSON" || echo "No changes"
          git push
